<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
	
    <form action="/admin/doaddbk">
          
          <input type="text" name="bkname">

          <input type="submit" value="提交">

    </form>




</body>
</html>