<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
	
<div class="menu"> 
  <ul>
  	 <li> <a href="/admin/bklist" target="menucontent"  >板块管理</a> </li>



  </ul>



</div>	
<div class="content"> 
    <iframe src="" width="900" height="600" name="menucontent" frameborder="0"></iframe>




</div>





</body>
</html>