*{margin:0;padding:0;list-style: none;text-decoration: none;}
.clsarfix:after{
    content:'';
    display:block;
    clear: both;
    font-size: 0;
    visibility: hidden;
    height: 0;
}
.div0{background: #f1f5f8}
.div1{margin: 0 auto;width: 900px}
.div1 .bodyUl1 li{float: left}
.div11{width: 900px;margin: 0 auto}
.div110 h4{float: left}
.div110 p{float: right}
.div111{background-color:#ffffff;height: 74px}
.div111 div{width: 235px;float: left;margin-right:65px;}
.div111 div *{float: left;font-size: 12px}
