<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/css/zhuce.css' />
  </head>
  <body>
  <% include haeds.ejs %>
  <div class="div31 denglu">
  <div class="div3 clsarfix">
    <br>
    <form action="/denglus" method="get">
      <!--<input type="hidden" name="id">-->
      <p>用户名： <input type="text" name="name"><span>{{tit}}</span></p>
      <br/>
      <p>密码：&nbsp;&nbsp;&nbsp; <input type="password" name="passwords"></p>
      <br/>
      <input type="submit" value="登录">
    </form>
    <br/><br/>
  </div>
  </div>
  <script>

  </script>
  <% include bottom.ejs %>
  </body>
</html>
