<!DOCTYPE html>
<html>
  <head>
    <title>贴吧</title>
    <link rel='stylesheet' href='./css/heads.css' />
  </head>
  <body>
  <div class="divOne">
    <ul class="ul1 clsarfix">
      <li><p>NOWS</p></li>
      <li><a href="/">首页</a></li>
      <li><a href="/banzhu">新帖</a></li>
      <li><a href="#">游戏下载</a></li>
      <li><a href="#">硬件与模板</a></li>
      <li><a href="#">1元商业授权</a></li>
      <li><a href="#">一键部署</a></li>
    </ul>
    <ul class="ul2 clsarfix">
      <li><a href="#"><img src="./images/Powered_06.jpg" alt=""></a></li>
      <li><a href="/denglu">登录</a></li>
      <li><a href="/zhuce">注册</a></li>
    </ul>
  </div>
  </body>
</html>