<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!--<link rel="stylesheet" href="/css/houtai.css">-->
</head>
<body>

<a href="/houtai1s">添加板块</a>
<table>
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% for(var i=0;i<lt.length;i++){ %>
  <tr>
    <td><%= lt[i].id %></td>
    <td><%= lt[i].name %></td>
    <td><a href="/houtai2">编辑</a></td>
  </tr>
  <% } %>
  </tbody>

</table>

</body>
</html>
