<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!--<link rel="stylesheet" href="/css/houtai.css">-->
</head>
<body>

<h3> 添加成功 </h3>
<a href="/bankua1">返回板块列表</a>
</body>
</html>
