<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!--<link rel='stylesheet' href='/css/houtai.css' />-->
  </head>
  <body>

    <div class="menu">
      <ul>
        <li> <a href="/houtais" target="menucontent"  >板块管理</a> </li>
        <li> <a href="/houtai1s" target="menucontent"  >添加板块</a> </li>
      </ul>
    </div>
    <div class="content">
      <iframe src="" width="900" height="600" name="menucontent" frameborder="0"></iframe>
    </div>



  </body>
</html>
