<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/banzhu.css">
</head>
<body>
<a href="/two2">添加主题</a>
<table>
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>bkid</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% for(var i=0;i<lt.length;i++){ %>
  <tr>
    <td><%= lt[i].id %></td>
    <td><%= lt[i].name %></td>

    <td>编辑</td>
  </tr>
  <% } %>
  </tbody>
</table>
</body>
</html>
