<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/css/zhuce.css' />
  </head>
  <body>
  <% include haeds.ejs %>
  <div class="div31 zhuce">
  <div class="div3 clsarfix">
    <br>
    <form action="/zhuces" method="get">
    <p>用户名： <input type="text" name="name"></p>
      <br/>
    <p>密码：&nbsp;&nbsp;&nbsp; <input type="password" name="password"></p>
      <br/>
    <input type="submit" value="注册">
    </form>
    <br/><br/>
  </div>
  </div>
  <% include bottom.ejs %>
  </body>
</html>
